<!-- Intro -->
<section class="view">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <h1 class="heading display-3">{{text.you}}
          <span class="material-icons">
            directions_car
          </span>
          {{text.question}}
        </h1>
        <h2 class="heading display-2">{{text.answer}}</h2>
        <h4 class="subheading font-weight-bold">{{text.caption}}</h4>
        <div class="mr-auto">
          <a type="button" class="btn btn-lily btn-margin btn-rounded" href="#reasons">{{text.contentQuestion}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="view">
        <img src="../../../assets/img/cars/intro.png"class="img-fluid"
          alt="Car washed">
        <div class="mask flex-center hm-gradient">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Intro -->


<main id="next">
  <section id="reasons">
    <h2 class="h1 py-5 font-weight-bold text-center">{{text.contentQuestion}}</h2>
    <p class="px-5 mb-5 pb-3 lead grey-text text-center">{{text.contentIntro}}</p>
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-4">
        <!--Grid row-->
        <div class="row mb-2" *ngFor="let element of text.column1">
          <div class="col-2">
            <img [src]="element.iconSource" fas>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold">{{element.title}}</h5>
            <p class="grey-text">{{element.details}}</p>
          </div>
        </div>
        <!--Grid row-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-4 mb-2 center-on-small-only flex-center">
        <img src="../../../assets/img/cars/wash.jpg" alt="Car Washing" class="z-depth-0 img-fluid">
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-4">
        <!--Grid row-->
        <div class="row mb-2" *ngFor="let element of text.column2; let i = index">
          <div class="col-2">
            <img [src]="element.iconSource" fas>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold">{{element.title}}</h5>
            <p class="grey-text">{{element.details}}</p>
          </div>
        </div>
        <!--Grid row-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
</main>