#home-image {
    background-image: -webkit-linear-gradient(63.25deg, #01209b 50%, #ffffff 50%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel {
    height: 100vh;
    min-height: 50vw;
    padding-bottom: 0;
    background: #040406;
    position: relative;
}

.carousel-text {
    color: black;
    overflow: hidden;
    position: absolute;
    transform: translate3d(-50%,-10%,0);
}

.header2 {
    font-size: 50px;
}

.header3 {
    font-size: 40px;
}

.header4 {
    font-size: 30px;
}