.sidenav-container {
    height: 100%;
    width: 100%;
  }
  
  .mat-drawer-content {
    display: inline;
  }

  .mat-drawer-container {
    background-color: transparent;
    color: rgba(0,0,0,.87);
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    background: transparent;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .scrolled {
    background: none;
    background-color: red;;
  }

  #lang-img {
    width: 40px;
  }

  #lang-img:hover{
    cursor: pointer;
  }

  .btn {
    color: black;
    display: table-cell;
    font-size: x-large;
    vertical-align: middle;
  }

  .btn:hover {
    color: #01209b
  }
  
  .link{
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 5px;
    border: 0px;
    border-radius: 20px;
    transition: 1s;
  }
  
  #logo{
    height: 60px;
    width: 150px; 
  }

  #toggle {
    color: black;
  }

  .mat-drawer-container{ 
    overflow: visible; 
  }  