<div class="container">
    <div class="banner">
        <h1 id="title">Always here to help!</h1>
        <section class="contact-infos">
            <figure>
                <a href="tel:{{info.phoneNumber}}"><img src="../../../assets/img/icons/phone.png" alt="phone icon"></a>
                <figcaption><a href="tel:{{info.phoneNumber}}">{{info.phoneNumber}}<br><br></a></figcaption>
            </figure>
            <figure>
                <a href="mailto:{{info.email}}"><img src="../../../assets/img/icons/email.png"
                        alt="email icon"></a>
                <figcaption><a href="mailto:{{info.email}}">{{info.email}}<br><br></a></figcaption>
            </figure>
        </section>
    </div>
    <div id="form">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSdIuiWNNTzEdfcvvuqRVe-kfT4SSv9trx-nSjwKqzKT7uIbhg/viewform?embedded=true"
            width="640" height="1081" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>