<div class="container">
    <div class="banner">
        <section class="contact-infos">
            <figure>
                <a href="tel:{{info.phoneNumber}}"><img src="../../../assets/img/icons/phone.png" alt="phone icon"></a>
                <figcaption><a href="tel:{{info.phoneNumber}}">{{info.phoneNumber}}<br><br></a></figcaption>
            </figure>
            <figure>
                <a href="mailto:{{info.email}}"><img src="../../../assets/img/icons/email.png" alt="email icon"></a>
                <figcaption><a href="mailto:{{info.email}}">{{info.email}}<br><br></a></figcaption>
            </figure>
        </section>
    </div>
    <div id="content">
        <div style="float: left; max-width: 20vw;" id="onediv">
            <h1 style="color: #33b5e5;" id="caption">{{text.caption}}</h1>
            <img id="form-img" src="../../../assets/img/letter.svg" alt="Letter Image">
        </div>
        <form id="form" class="text-center border border-light p-5"  (ngSubmit)="f.form.valid && send()" #f="ngForm" novalidate>
            <!-- Name -->
            <input type="text" name="{{text.fields[0]}}" id="defaultContactFormName" class="form-control mb-4" placeholder="{{text.fields[0]}}" [(ngModel)]="currentValues.name">
            <div class="error" *ngIf="f.submitted">
                <div *ngIf="currentValues.name.length === 0">{{text.fields[0]}} {{text.error}}</div>
            </div>
            <!-- Email -->
            <input type="email" name="{{text.fields[1]}}" id="defaultContactFormEmail" class="form-control mb-4" placeholder="{{text.fields[1]}}" [(ngModel)]="currentValues.email">
            <div class="error" *ngIf="f.submitted">
                <div *ngIf="currentValues.email.length === 0">{{text.fields[1]}} {{text.error}}</div>
                <div *ngIf="!emailRegEx.test(currentValues.email)">{{text.emailError}} {{text.fields[1]}} {{text.error}}</div>
            </div>
            <!-- Phone -->
            <input type="text" name="{{text.fields[2]}}" id="defaultContactFormEmail" class="form-control mb-4" placeholder="{{text.fields[2]}}" [(ngModel)]="currentValues.phone">
            <!-- Subject -->
            <label>{{text.fields[3]}}</label>
            <select class="browser-default custom-select mb-4" name="{{text.fields[3]}}" [(ngModel)]="currentValues.reason">
                <option value="" disabled>{{text.reasons[0]}}</option>
                <option value="1">{{text.reasons[1]}}</option>
                <option value="2">{{text.reasons[2]}}</option>
            </select>
            <!-- Message -->
            <div class="form-group">
                <textarea class="form-control rounded-0" name="{{text.fields[4]}}" id="exampleFormControlTextarea2" rows="3"
                    placeholder="{{text.fields[4]}}" [(ngModel)]="currentValues.message"></textarea>
                    <div class="error" *ngIf="f.submitted">
                        <div *ngIf="currentValues.message.length === 0">{{text.fields[4]}} {{text.error}}</div>
                    </div>
            </div>
            <!-- Send button -->
            <button mdbBtn color="info" block="true" type="submit">{{text.button}}</button>
        </form>
    </div>
</div>