<div class="container">
    <div class="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6" *ngFor="let service of services">
                    <div class="service-item">
                        <i class="{{service.icon}}"></i>
                        <h3>{{service.title | translate}}</h3>
                        <p>{{service.description | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>